$seconColor: #61dafb;
$bg: #282c34;
*{
    margin: 0;
    padding: 0;
    font-size: calc(10px + 2vmin);
}
nav {
    background-color: $bg;
    ul {
        display: flex;
        justify-self: start;
        list-style: none;
        li{
            padding: 1em 1em;
        a{
            text-decoration: none;
            color: #61dafb;
        }
        }
    }
}

.list_of_themes {
    padding: 5em 0em;
    margin: 1em 0em;
    color: gray;
    li {
        text-align: start;
        width: 40%;
        margin: 0 auto;
        a {
            text-decoration: none;
            color: $bg;
            font-size: 1.2em;
            line-height: 2em;
            &:hover {
                text-decoration: underline;
                color: $seconColor;
            }
        }
    }
}


.refTitle {
    color: $seconColor;
    padding: 0.7em;
    font-size: 1.7em;
    font-weight: 500;
    background-color: $bg;
    position: fixed;
    top: 0;
    width: 100%;
}



.refer, .basic {    
.back {
    background-color: $seconColor;
    border: none;
    padding: 0.5em 1em;
    float: left;
   top: -3em;
   left: 0.1em;
   position: relative;
   
}
}

.theme {
    font-size: 80px;
    background-color: darken($color: $seconColor, $amount: 30);
    padding: 1em 0em;
    position: fixed;
    width: 100%;
}
article {
    padding-top: 10vh;
 h3 {
     text-align: start;
     padding-left: 5em;
 }
    ul {
        text-align: start;
        width: 75%; 
        margin: 1em auto;
        line-height: 2em;
    }
   
}

.tenseform {
   display: grid;
    ul {
    list-style: none;
    
    li{
        line-height: 2.5em;
        font-weight: 500;
        color: darken($color: $seconColor, $amount: 25);
    }
    }
    background-color: lighten($color: $bg, $amount: 5);
    border-radius: 1em;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
}

.notes {
    background-color: lighten($color: $seconColor, $amount: 7);
    padding: 1px 1em;
    border-radius: 1em;
    margin: 1em;
    margin-top: 4em;
    ol, .examples{
        width: 85%;
        margin: 1em auto;
    }
    

}

@media (min-width: 5000px) and (max-width: 8000px){
   
        .tenseform, .notes {
            width: 70%;
            margin: 0 auto;
        }
    .tenses {
        h1 {
            width: 73%;
            margin: 0 auto;
            margin-top: 2em;
        }
    }
        .notes {
           
            margin-top: 2em;
        }
    
}